flows_USER-20161220DH.json
[{"id":"32066e3e.67d422","type":"tab","label":"流程1","disabled":true,"info":""},{"id":"472166d.a4ae798","type":"tab","label":"mysql","disabled":true,"info":""},{"id":"64e42071.66ac","type":"tab","label":"http","disabled":false,"info":""},{"id":"5bf4089f.0c5a58","type":"tab","label":"流程2","disabled":false,"info":""},{"id":"cbad4bcd.835a28","type":"MySQLdatabase","z":"472166d.a4ae798","host":"localhost","port":"3306","db":"text","tz":""},{"id":"71c4ce1.e667a3","type":"MySQLdatabase","z":"64e42071.66ac","host":"localhost","port":"3306","db":"text","tz":""},{"id":"c7c571b4.e94ea","type":"function","z":"32066e3e.67d422","name":"bugger","func":"let data = msg.payload;\nlet a = {\n    \"name\":\"xiao\"\n};\n// if(data.code===\"0\"){\n//     a = {\"name0\":\"xing\"}\n// }\n// console.log(msg)\n// node.log('hahha');\n\n\nreturn a;","outputs":1,"noerr":0,"x":572,"y":359,"wires":[["f477ba39.6e2e78"]],"inputLabels":["1"],"outputLabels":["1"],"icon":"node-red/arduino.png"},{"id":"4e5afceb.463454","type":"inject","z":"32066e3e.67d422","name":"输入","topic":"import","payload":"On","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0","x":287,"y":156,"wires":[["c7c571b4.e94ea"]]},{"id":"f477ba39.6e2e78","type":"debug","z":"32066e3e.67d422","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":909,"y":257,"wires":[]},{"id":"14bf6895.fc2877","type":"http response","z":"32066e3e.67d422","name":"shuchu","statusCode":"0","headers":{},"x":785,"y":453,"wires":[]},{"id":"ab316ca3.c920e","type":"http in","z":"32066e3e.67d422","name":"shuru","url":"http://dev.bluefoxiot.cn:8866/jsonapi/wx_app/rewardCount.json","method":"post","upload":false,"swaggerDoc":"","x":414,"y":452,"wires":[["14bf6895.fc2877","5bb0d30c.00f98c"]]},{"id":"5bb0d30c.00f98c","type":"delay","z":"32066e3e.67d422","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":678,"y":549,"wires":[["336e036f.67246c"]]},{"id":"336e036f.67246c","type":"debug","z":"32066e3e.67d422","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":899,"y":566,"wires":[]},{"id":"26cfacd2.473274","type":"mysql","z":"472166d.a4ae798","mydb":"cbad4bcd.835a28","name":"mysql","x":580,"y":451,"wires":[["a7403a15.187498"]],"inputLabels":["ok"],"outputLabels":["o\\"]},{"id":"a81d6a9b.5784e8","type":"function","z":"472166d.a4ae798","name":"query sql","func":"msg.topic = \"SELECT * FROM test\";\nconsole.log(msg)\nreturn msg;","outputs":1,"noerr":0,"x":426,"y":250,"wires":[["d9671f8.df7f0e","26cfacd2.473274"]]},{"id":"d9671f8.df7f0e","type":"debug","z":"472166d.a4ae798","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":881,"y":290,"wires":[]},{"id":"a7403a15.187498","type":"json","z":"472166d.a4ae798","name":"","property":"payload","action":"","pretty":false,"x":822,"y":464,"wires":[["a61d3b72.331f18"]]},{"id":"a61d3b72.331f18","type":"debug","z":"472166d.a4ae798","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1018,"y":445,"wires":[]},{"id":"73a4ae9.a6b7a5","type":"inject","z":"472166d.a4ae798","name":"","topic":"insert into test (id,name) values (6,'编号6vhh')","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":338,"y":416,"wires":[["26cfacd2.473274"]]},{"id":"d7c05397.77c6a","type":"inject","z":"472166d.a4ae798","name":"query","topic":"SELECT * FROM db","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":244,"y":276,"wires":[["a81d6a9b.5784e8"]]},{"id":"c41eb432.297068","type":"inject","z":"472166d.a4ae798","name":"","topic":"UPDATE text.test SET name='新的' WHERE id=2","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":271,"y":538,"wires":[["26cfacd2.473274"]]},{"id":"18f9edbd.fb4522","type":"http in","z":"64e42071.66ac","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":335,"y":236,"wires":[["8088834c.39cb1"]]},{"id":"8088834c.39cb1","type":"template","z":"64e42071.66ac","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>","x":682,"y":227,"wires":[["4b4cfa42.390194"]]},{"id":"4b4cfa42.390194","type":"http response","z":"64e42071.66ac","name":"","statusCode":"","headers":{},"x":1054,"y":206,"wires":[]},{"id":"684708f6.050648","type":"http in","z":"64e42071.66ac","name":"","url":"/hello-form","method":"post","upload":false,"swaggerDoc":"","x":278,"y":346,"wires":[["f1d4eeaa.d9b9d"]]},{"id":"f1d4eeaa.d9b9d","type":"template","z":"64e42071.66ac","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{ payload.name }}!</h1>\n    </body>\n</html>","x":624,"y":320,"wires":[["d251bf45.de689"]]},{"id":"d251bf45.de689","type":"http response","z":"64e42071.66ac","name":"","statusCode":"","headers":{},"x":912,"y":308,"wires":[]},{"id":"e2f8ff48.2041","type":"http in","z":"64e42071.66ac","name":"","url":"/json/get.json","method":"get","upload":false,"swaggerDoc":"","x":336,"y":81,"wires":[["abadfde6.d0782"]]},{"id":"abadfde6.d0782","type":"template","z":"64e42071.66ac","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"Hello\": \"World\" }","x":615,"y":104,"wires":[["1dd2c8b1.60a647"]]},{"id":"1dd2c8b1.60a647","type":"change","z":"64e42071.66ac","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":792,"y":98,"wires":[["cc22f6d1.b24118"]]},{"id":"cc22f6d1.b24118","type":"http response","z":"64e42071.66ac","name":"","statusCode":"","headers":{},"x":946,"y":94,"wires":[]},{"id":"69b55bec.aaf7a4","type":"mysql","z":"64e42071.66ac","mydb":"71c4ce1.e667a3","name":"mysql","x":587,"y":490,"wires":[["5e091ed1.5583b"]],"inputLabels":["ok"],"outputLabels":["o\\"]},{"id":"b24e093f.ec3e28","type":"function","z":"64e42071.66ac","name":"query sql","func":"msg.topic = \"SELECT * FROM test\";\nconsole.log(msg.req.headers)\nreturn msg;","outputs":1,"noerr":0,"x":414,"y":495,"wires":[["69b55bec.aaf7a4"]]},{"id":"70dcd4c8.33c48c","type":"http in","z":"64e42071.66ac","name":"","url":"/jsonapi/sql/get.json","method":"post","upload":false,"swaggerDoc":"","x":164,"y":465,"wires":[["b24e093f.ec3e28"]]},{"id":"5e091ed1.5583b","type":"json","z":"64e42071.66ac","name":"","property":"payload","action":"","pretty":false,"x":586,"y":578,"wires":[["d924ecc6.6c889"]]},{"id":"adaafc04.0046e","type":"change","z":"64e42071.66ac","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":587,"wires":[["954149f3.debe68"]]},{"id":"954149f3.debe68","type":"http response","z":"64e42071.66ac","name":"","statusCode":"","headers":{},"x":1154,"y":596,"wires":[]},{"id":"951b8342.25b83","type":"http in","z":"64e42071.66ac","name":"","url":"/jsonapi/sql/get.json","method":"get","upload":false,"swaggerDoc":"","x":167,"y":519,"wires":[["b24e093f.ec3e28"]]},{"id":"d924ecc6.6c889","type":"function","z":"64e42071.66ac","name":"handle","func":"let data = msg.payload;\nmsg.payload={\n    \"code\":0,\n    \"msg\":\"ok\",\n    data:JSON.parse(data)\n};\nreturn msg;","outputs":1,"noerr":0,"x":784,"y":584,"wires":[["adaafc04.0046e"]]},{"id":"be79f4c5.c7b938","type":"http request","z":"5bf4089f.0c5a58","name":"","method":"POST","ret":"txt","url":"http://127.0.0.1:1880/jsonapi/sql/get.json","tls":"","x":469,"y":435,"wires":[["75e532e5.24c80c"]]},{"id":"75e532e5.24c80c","type":"debug","z":"5bf4089f.0c5a58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":880,"y":452,"wires":[]},{"id":"2d202f69.b162","type":"inject","z":"5bf4089f.0c5a58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":291,"y":438,"wires":[["be79f4c5.c7b938"]]}]